{% spaceless %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        MIDI RO ADMIN {% if tabTitle is defined %} - {{ tabTitle }}{% endif %}
    </title>
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/custom.css') }}">
</head>
<body>

{% include '@Admin/AdminLayout/header.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 main">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


<script src="{{ asset('bundles/admin/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('bundles/admin/js/bootstrap.min.js') }}"></script>

</body>
</html>
{% endspaceless %}
