<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        RO ADMIN {% if tabTitle is defined %} - {{ tabTitle }}{% endif %}
    </title>
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/js/filer/css/jquery.filer.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/js/filer/css/themes/jquery.filer-dragdropbox-theme.css') }}">
</head>
<body>

{% include '@Admin/AdminLayout/header.html.twig' %}

<ul id="slide-out" class="side-nav fixed">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

<div class="container-fluid">
    <div class="row">
        {% block sidebar %}
            {% include '@Admin/AdminLayout/sidebar.html.twig' %}
        {% endblock %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="{{ asset('bundles/admin/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('bundles/admin/js/filer/js/jquery.filer.min.js') }}"></script>
<script src="{{ asset('bundles/admin/js/materialize.min.js') }}"></script>
<script>$(".button-collapse").sideNav();</script>
{% block additional_js %}{% endblock %}
</body>
</html>
