<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('admin_articles_list', {'eventId': event.id})}}"><span class="glyphicon glyphicon-file"></span> Straipsniai</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('admin_posters_show', {'eventId': event.id}) }}"><span class="glyphicon glyphicon-picture"></span> Plakatas</a></li>
        <li><a href="{{ path('admin_galleries_show', {'eventId': event.id}) }}"><span class="glyphicon glyphicon-camera"></span> Nuotraukų galerija</a></li>
        <li><a href=""><span class="glyphicon glyphicon-music"></span> Audio playlist'as</a></li>
        <li><a href="{{ path('admin_video_playlists_show', {'eventId': event.id}) }}"><span class="glyphicon glyphicon-play"></span> Video playlist'as</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href=""><span class="glyphicon glyphicon-headphones"></span> Dainų tekstai</a></li>
        <li><a href="{{ path('admin_scripts_edit', {'eventId': event.id}) }}"><span class="glyphicon glyphicon-list-alt"></span> Scenarijus</a></li>
        <li><a href="{{ path('admin_teams_edit', {'eventId': event.id}) }}"><span class="glyphicon glyphicon-user"></span> Dalyviai</a></li>
    </ul>
</div>
