{% from '@Admin/AdminLayout/macros.html.twig' import table_action_edit %}
{% from '@Admin/AdminLayout/macros.html.twig' import table_action_delete %}

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading text-center text-uppercase">
           <strong>{{ event.title }}</strong>
        </div>
        <div class="panel-body text-center">
            <a href="{{ path('admin_articles_list', {'eventId': event.id}) }}">
                {{ event_thumb(event, 'large', true) }}
            </a>
        </div>
        <div class="panel-footer">
                <div class="clearfix">
                    <a href="{{ path('admin_events_edit', {'eventId': event.id}) }}" class="btn btn-raised btn-info pull-left">Redaguoti</a>
                    <a href="{{ path('admin_events_delete', {'eventId': event.id }) }}" class="btn btn-raised btn-warning pull-right">Ištrinti</a>
                </div>
        </div>
    </div>
</div>
